<p>image-page works!</p>
<div class="image-background">
  <button class="arrow-btn" routerLink="/form" title="Retour à l'accueil"
    (mouseenter)="onArrowHover()" (mouseleave)="onArrowLeave()">
    <img [src]="arrowImg" alt="Retour" class="arrow-img" />
  </button>
  <div class="media-container">
    <!-- Loader (vidéo + gif) -->
    <ng-container *ngIf="loading">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <video class="full-media loading-video" autoplay loop muted>
          <source src="assets/loading.mp4" type="video/mp4" />
          Votre navigateur ne supporte pas la vidéo.
        </video>
        <div class="loading-row">
          <img src="assets/loadingdots.gif" alt="Chargement..." class="loading-gif" />
        </div>
      </div>
    </ng-container>
    <!-- Image avec effet pop + bouton télécharger -->
    <ng-container *ngIf="showImage">
      <div class="image-pop-container">
        <div class="image-socials-row">
          <img [src]="imageUrl" class="full-media pop-effect" alt="Image générée" />
          <div class="btns-col">
          <button class="download-btn"
                  (click)="downloadImage()"
                  (mouseenter)="onTeleHover()"
                  (mouseleave)="onTeleLeave()">
            <img [src]="teleImg" alt="Télécharger" class="icon-btn-img" />
          </button>
          <button class="partager-btn"
                  (mouseenter)="onPartagerHover()"
                  (mouseleave)="onPartagerLeave()"
                  (click)="toggleSocials()">
            <img [src]="partagerImg" alt="Partager" class="icon-btn-img" />
          </button>
        </div>
          <div *ngIf="showSocials" class="socials-col-right">
            <button class="social-btn" (click)="shareOnInstagram()">
              <img src="assets/instagram.png" alt="Instagram" class="icon-btn-img" />
            </button>
            <button class="social-btn" (click)="shareOnReddit()">
              <img src="assets/reddit.png" alt="Reddit" class="icon-btn-img" />
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
